<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  <head>
     <meta http-equiv="content-type" content="text/html; charset=utf-8" />
     <title>DataMapper - {{ page.title }}</title>
     <link rel="stylesheet" href="{{ 'css/site.css' | relative_url }}" type="text/css" media="screen, projection" />
     <link rel="stylesheet" href="{{ 'css/code.css' | relative_url }}" type="text/css" media="screen, projection" />
     <!--[if lt IE 7]> <link rel="stylesheet" href="{{ 'css/ie_hacks.css' | relative_url }}" type="text/css" media="screen, projection" /> <![endif]-->
     <link rel="Shortcut Icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}" />
  </head>

  <body id="home">

  <div style="width:100%;background:#d1ecf1;padding:15px;color:#0c5460;text-align:center;font-weight:bold;margin-bottom:20px;">
    This is a clone of the datamapper docs. Datamapper.org was taken down and redirected around Feb, 2020. I claim no ownership of any of this stuff.
  </div>

    <div id="content">

      <div id="header">
        {% include menu.html %}
      </div>

   {{ content }}

      {% include footer.html %}
    </div>
  </body>
</html>
